html, body 
{
	margin: 0; 
	height: 100%; 
	overflow: hidden;
	touch-action: manipulation;
}

.rolloutput
{
	height: 80%;
	display: block;
	text-align: center;
}

.rollcontrols
{
	height: 20%;
	display: block;
	text-align: center;
	border: 10px solid black;
}