html, body 
{
	margin: 0; 
	height: 100%; 
	overflow: hidden;
	touch-action: none;
}

.viewrapper_phone
{

}

.viewrapper_desktop
{
	display: flexbox;
}

.diceicon
{
	width: 20%;
	height: 35%;
	border: 5px solid transparent;
}

#rollresult
{
	font-size: 20em;
}

.rolloutput_phone
{
	height: 70%;
}

.rolloutput_desktop
{
	background-color: purple;
	float: right;
	width: 70%;
}

#rolloutput
{
	display: block;
	text-align: center;
	border: 5px solid black;
}

.rollcontrols_phone
{
	height: 24%;
}

.rollcontrols_desktop
{
	background-color: blue;
	float: left;
	width: 20%;
}

#rollcontrols
{
	display: block;
	text-align: center;
	border: 10px solid black;
}

.selectedDice
{
	border-color: black;
}