html, body 
{
	margin: 0; 
	height: 100%; 
	overflow: hidden;
	touch-action: none;
}

.diceicon
{
	width: 25%;
	height: 40%;
}

.rolloutput
{
	height: 70%;
	display: block;
	text-align: center;
	border: 5px solid black;
}

.rollcontrols
{
	height: 24%;
	display: block;
	text-align: center;
	border: 10px solid black;
}

.selectedDice
{
	border: 5px solid black;
}